body{
    font-family: 'Noto Serif', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.same{
    padding-left: 20%;
    padding-top: 20%;
}
.orange{
    color: orange;
}
p{
    font-size: 21px;
    color: black;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}

.half-width{
    width: 50%;

}
.half-width-girl img{
    width: 60%;
    padding-left: 20%;
}
.item img{
    width: 25%;
}
.item{
    padding-left: 10%;
}
.order-food{
    color: white;
    font-size: 150%;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 10px;
    border-radius: 20px;
}
.big-word{
    font-size: 200%;
}
.big-wordtwo{
   text-align: center;
   font-size: 200%;
}
.two{
    text-align: center;
    font-size: 21px;
    padding-left: 150px;
    padding-right: 150px;
}
.contact-me{
    color: white;
    font-size: 150%;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
}
.bkg-img{
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
}
.last{
    text-align: center;
}
.container img{
    width: 50%;
}
.link-up{
    color: white;
    font-size: 150%;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
}
.order{
    width: 40%;
    padding-left: 100px;
    box-shadow: 20px 20px 40px;

}
.foot{
    background-color:black;
}